.compile_me.sh

/source/ffmpeg-cpp/.vs/ffmpeg-cpp/v15
/source/ffmpeg-cpp/ffmpeg-cpp/obj
/source/ffmpeg-cpp/demo/obj
/source/ffmpeg-cpp/x64/Debug
/source/ffmpeg-cpp/obj/Debug
/source/ffmpeg-cpp/demo/samples/out.mp4
/ffmpeg/include
/ffmpeg/lib
/ffmpeg/bin
/bin
/lib

/source/ffmpeg-cpp/decode_audio/obj
/source/ffmpeg-cpp/encode_audio/obj
/source/ffmpeg-cpp/encode_video/obj
/source/ffmpeg-cpp/decode_video/obj
/source/ffmpeg-cpp/filtering_video/obj
/include

/source/ffmpeg-cpp/remuxing/obj
/source/ffmpeg-cpp/difference/obj/x64/Debug
/source/ffmpeg-cpp/difference/obj
/source/ffmpeg-cpp/print_info/obj/x64
/source/ffmpeg-cpp/filtering_audio/obj/x64
/source/ffmpeg-cpp/simple_interface/x64/Debug
/source/ffmpeg-cpp/simple_interface_demo/obj/x64
/source/ffmpeg-cpp/simple_interface/Debug/simple_interface.tlog
/source/ffmpeg-cpp/simple_interface/Debug
demos/webcam_to_video/build/webcam_stream_to_MKV
demos/webcam_to_video/build/webcam_stream_to_MPEG2
demos/webcam_to_video/build/webcam_stream_to_MPEG4
demos/webcam_to_video/build/webcam_stream_to_SOUND
demos/webcam_to_video/build/webcam_stream_to_VP9

demos/webcam_to_video/videos/output_H264.mp4
demos/webcam_to_video/videos/output_H264.mkv
demos/webcam_to_video/videos/output_VP9.mkv
demos/webcam_to_video/videos/output_VP9.avi
demos/webcam_to_video/videos/output_MPEG4.avi
demos/webcam_to_video/videos/output_MPEG2.mpg


*.db
.vs/
demos/decode_audio/rawaudio.aac
demos/encode_audio/output.mp3
demos/encode_video/output_*.mpg
build/
